@charset "utf-8";

header
{
    text-align: center;
}
main
{
    border: 2px solid black;
    margin-left: 40px;
    margin-right: 40px;
}

img
{
    border: 2px solid black;
}

footer
{
    display: block;
    text-align: center;
}
/* Class */
.flex
{
    display: flex;
    justify-content:safe;
    padding-left: 20px;
    padding-right: 20px;
}

.flex >img
{
    align-self: flex-start;
}

.Specification > p
{
    font-size: 20px;
    text-indent: 20px;
    margin-left: 20px;
}

.Specification > dl
{
    margin-left: 20px;
}

.Specification >img
{
    display: block;
    margin-left: 40px;
}

.ParamBox
{
    border: 2px double black;
    background-color: rgba(245, 222, 179, 0.3);
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    width: 60%;
    height: 60%;
    font-size: 20px;
}

/* IDCSS */
#UnityStageImg
{
    width: 45%;
    height: 50%;
}

#RightArrow
{
    align-self: center;
    width: 10%;
    height: 50%;
    margin: 0;
    border: none;
}

#GameStageImg
{
    width: 45%;
    height: 50%;
}

#DefaultSet
{
    margin-top: 0;
    margin-bottom: 0;
    height: 397px;
    overflow:auto;
}

#DefaultSet dt, #DefaultSet dd
{
    min-width: 700px;
}

#ActionTab
{
    margin-top: 0;
    margin-bottom: 0;
    height: 308px;
    overflow: auto;
}

#OutPutDialog
{
    margin-top: 0;
    margin-bottom: 0;
    height: 367px;
    overflow: auto;
}

/* クエリ */
@media (min-width:0px) and (max-width:900px)
{
    .flex
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flex > img
    {
        align-self: center;
        margin-bottom: 20px;
        width: 100%;
    }

    #ComparisonImg, .flex
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 93%;
    }

    #UnityStageImg
    {
        flex-grow: 4;
    }

    #RightArrow
    {
        flex-grow: 2;
    }

    #GameStageImg
    {
        flex-grow: 4;
    }
}

@media (min-width:900px)
{
    .flex
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
