@charset "utf-8";

html
{
    background-color:whitesmoke;
}

header > h1
{
    text-align: center;
}

main
{
    text-align: center;
    background-color: hsla(0, 0%, 50%, 0.1);
}

#IndexCpntents 
{
    text-align: left;
}

#IndexContents .IndexList
{
    margin: 0;
    text-align:left;
}

#IndexContents .IndexList > li
{
    margin-left: 38.5%;
    text-align: left;
}

#IndexContents a
{
    text-decoration: none;
}

#IndexContents > .Content
{
    border: 2px solid black;
    background-color: white;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50px;
    overflow: hidden;
}

footer
{
    text-align: center;
}

footer > p
{
    opacity: 0.5;
}

footer > a
{
    text-decoration: none;
}